body{ font: 13px; }
.mr150{ margin-right: 150px; } 
.nav{ background-color: #000; height: 45px; line-height: 2.5em; }
.nav a{ color: #fff; }
.logo{ height: 150px; background: url('../images/logo-bg.png'); }
.logo-title{ height: 150px; width: 460px; background: url('../images/logo-title.png'); }

#content{  background-color: #fff; }


#footer{ height: 200px; background-color: #333; }

/* index page */
.content{ height: 330px; width: 720px; }
.content-man{ 
	width: 140px;
	height: 250px;
	background: url('../images/style.png') 0 0;
	-webkit-transition: all 0.03s 0.03s;
	-moz-transition: all 0.03s 0.03s;
	-o-transition: all 0.03s 0.03s;
	-ms-transition: all 0.03s 0.03s;
	transition: all 0.03s 0.03s; 
}
.content-man:hover{ background-position: 147px 0; }
.content-txt{ 
	background: url('../images/clickme.png');
	width: 125px;
	height: 25px;
	position: absolute;
	top: 180px;
	left: 20px;
	-webkit-transition: all 0.03s 0.03s;
	-moz-transition: all 0.03s 0.03s;
	-o-transition: all 0.03s 0.03s;
	-ms-transition: all 0.03s 0.03s;
	transition: all 0.03s 0.03s; 
}
.content-a{  }
span.content-b{ background-position:10px 50px; }
span.content-c{ background-position:0 25px; }
.content-man:hover .content-txt{
	background: url('../images/work.png') no-repeat;
	width: 99px;
	height: 100px;
	top: 36px;
	left: 21px;
	-webkit-transition: all 0.03s 0.03s;
	-moz-transition: all 0.03s 0.03s;
	-o-transition: all 0.03s 0.03s;
	-ms-transition: all 0.03s 0.03s;
	transition: all 0.03s 0.03s;
}
.content-man:hover span.content-b{ background-position: 0 -100px; }
.content-man:hover span.content-c{ background-position: 0 -201px; }

/* 上下三角形 */
.content-triangle{ border: 30px solid transparent; position: absolute; left: 330px; }
.content-triangleTop{ border-top-color: #39ABD5; top:0; }
.content-triangleBottom{ border-bottom-color: #333; bottom:0; }

/* select page */
.figure{ height: 200px;  }
.figureSelectKouhao{ background: url('../images/select-kouhao.jpg') left 75px no-repeat; }
.figure-man{ height: 119px; padding-top: 10px; background: url('../images/select-man.png') no-repeat; }
.figure-selectMan{ background-position: 268px bottom; }
.select{}
.select-item{ 
	width: 213px; height: 200px; margin: 0 6px 12px; float: left; display: inline; 
	background-color: #ccc; 
}
.select-topic{  }

/* 交易流程 */
.figureFlowKouhao{ background: url('../images/flow-kouhao.png') left 75px no-repeat; }
.figure-flowMan{ background-position: right bottom; }
.flowContent{ background: url('../images/bgImage.png'); }
.flow-content{ width: 887px; height: 1450px; }
.flow-content-title{ width:102px; height: 116px; background: url('../images/flow-chart-txt.png'); }
.flow-content-chart{ width: 785px; height: 1321px; background: url('../images/flow-chart-img.png'); }